name: Build and Publish

on:
  push:
    branches:
      - '*'

env:
  PACT_BROKER_PUBLISH_VERIFICATION_RESULTS: true

jobs:
  build-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Build and Test
        run: |
          mvn verify

#      - name: Publish Pact Contracts
#        run: |
#          mvn pact:publish
#      - name: Trigger Jenkins Build
#          run: |
#            curl -X POST "http://Taredel:password41localhost:9000/job/deployment_job_provider/build" --data-urlencode "delay=0sec"

  can-i-deploy:
    runs-on: ubuntu-latest
    needs: build-publish
    steps:
      - uses: actions/checkout@v2
      - run: docker pull pactfoundation/pact-cli:latest
      - name: Can I deploy?
        run: docker run --rm -v ${PWD}:${PWD} -e PACT_BROKER_BASE_URL=https://ce1b-2a0b-6204-454c-1600-7153-bdab-1e56-f89c.ngrok-free.app pactfoundation/pact-cli pact-broker can-i-deploy --pacticipant ProviderService --latest --broker-base-url https://ce1b-2a0b-6204-454c-1600-7153-bdab-1e56-f89c.ngrok-free.app --broker-username pact_username --broker-password pact_password
